<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/general/general.css}" rel="stylesheet"/>
    <link th:href="@{/styles/general/inputSpace.css}" rel="stylesheet"/>
    <link th:href="@{/styles/manager/main.css}" rel="stylesheet"/>
</head>
<body>
<div class="welcome-block">
    <h1><span th:text="${ep.getName()}"/></h1>

    <button onclick="goTo('manager/orderList')">Список активных заказов</button>
    <button onclick="goTo('manager/historyOrder')">История заказов</button>
    <button onclick="goTo('manager/factoryPotion')">Производство зелей</button>
    <button onclick="goTo('manager/orderIngredient')">Заказ ингредиентов</button>
    <button onclick="goTo('manager/warehouse')">Склад</button>

    <script th:src="@{/js/general/goto.js}"></script>
</div>
</body>
</html>