<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/user/general.css}" rel="stylesheet"/>
    <link th:href="@{/styles/user/start.css}" rel="stylesheet"/>
    <link th:href="@{/styles/user/statusPage.css}" rel="stylesheet"/>
    <link th:href="@{/styles/user/inputSpace.css}" rel="stylesheet"/>
</head>
<body>
<div class="welcome-block">
    <h1>Здравствуйте <span th:text="${EP.getName()}"/></h1>


</div>
</body>
</html>