<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/general/general.css}" rel="stylesheet"/>
    <link th:href="@{/styles/general/inputSpace.css}" rel="stylesheet"/>
</head>
<body>
<div class="welcome-block">
    <h1>Добро день!</h1>
    <p>Введите, пожалуйста, номер вашего пункта:</p>
</div>


<form id="checkStatus" th:method="post" th:action="@{/manager/setEP}" th:object="${idEPform}">
    <div class="text-field text-field_floating-3">
        <input class="text-field__input" pattern="[0-9]*" id="idEP" name="idEP" placeholder="">
        <label class="text-field__label" for="idEP">Номер пункта</label>
    </div>
    <button type="submit" class="buttons" id="setEPNumber">Вход</button>
</form>


<script th:src="@{/js/manager/start.js}"></script>
<!--todo вынести goto в общую папку-->

</body>
</html>