<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/user/general.css}" rel="stylesheet"/>
    <link th:href="@{/styles/user/start.css}" rel="stylesheet"/>
    <link th:href="@{/styles/user/statusPage.css}" rel="stylesheet"/>
    <link th:href="@{/styles/user/inputSpace.css}" rel="stylesheet"/>
</head>
<body>
<div class="welcome-block">
    <h1>Добро день!</h1>
    <p>Введите, пожалуйста, номер вашего пункта:</p>
</div>

<div class="text-field text-field_floating-3">
<!--    todo нужен бэк-->
    <form id="checkStatus" th:method="post" th:action="@{/manager/setEP}" th:object="${idEPform}">
        <input class="text-field__input" type="number" id="epNumber"  th:field="*{idEP}">
        <label class="text-field__label" for="epNumber">Номер пункта</label>
        <button type="submit" class="buttons" id="setEPNumber">Вход</button>
    </form>
</div>


<script th:src="@{/js/manager/start.js}"></script>
<!--todo вынести goto в общую папку-->

</body>
</html>