<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/general/general.css}" rel="stylesheet"/>
    <link th:href="@{/styles/manager/statusPage.css}" rel="stylesheet"/>
</head>
<body>
<h1 th:if="${status == 0}" class="textBadStatus">Не хватает</h1>
<h1 th:if="${status == 1}" class="textGoodStatus">Хватает</h1>

<button type="button" class="buttons" onclick="goTo('manager/factoryPotion')" id="toBackPage">Назад к таблице</button>

<script th:src="@{/js/general/goto.js}"></script>

</body>
</html>