<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/general/general.css}" rel="stylesheet"/>
    <link th:href="@{/styles/user/statusPage.css}" rel="stylesheet"/>
    <link th:href="@{/styles/general/inputSpace.css}" rel="stylesheet"/>
</head>
<body>

<p>Введите номер вашего заказа:</p>


<form id="checkStatus" action="#" th:method="post" th:action="@{/orders/checkStatus}" th:object="${orderNumberForm}">
    <div class="text-field text-field_floating-3">
        <input class="text-field__input" pattern="[0-9]*" id="orderId" name="orderId" placeholder="">
        <label class="text-field__label" for="orderId">Номер заказа</label>
    </div>
    <h2 th:text="${status}"/>
    <button type="submit" id="getStatusButton">Проверить статус заказа</button>
    <!--        <a href="#" class="buttons" id="getStatusButton">Проверить статус заказа</a>-->
</form>

<button type="button" class="buttons" onclick="goTo('user/start')" id="redirectBackButton">На главную</button>

<script th:src="@{/js/general/goto.js}"></script>

</body>
</html>