<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/general/general.css}" rel="stylesheet"/>
    <link th:href="@{/styles/user/tableCartList.css}" rel="stylesheet"/>
    <link th:href="@{/styles/general/inputSpace.css}" rel="stylesheet"/>
    <link th:href="@{/styles/user/formPage.css}" rel="stylesheet"/>
</head>
<body>


<div class="text-field text-field_floating-3">
    <!--    todo дописать форму для отправки на контроллер-->
    <form id="createOrderForm" method="POST" action="http://localhost:8080/orders/createOrder">
        <input class="text-field__input" type="userName" id="userName" name="userName">
        <label class="text-field__label" for="userName">Введите свой никнейм</label>
        <input type="hidden" id="cartInput" name="cartInput" th:value="${cart.getItems()}">
    </form>
</div>
<h2>Выбранные зелья:</h2>
<div class="selected-items tbl-header">
    <table>
        <thead>
        <tr>
            <th>Название товара</th>
            <th>Количество</th>
            <th></th>
        </tr>
        </thead>
    </table>
</div>
<div class="selected-items tbl-content">
    <table>
        <tbody>
        <tr th:each="item : ${cart.getItems()}">
            <td th:text="${item.potion.name}"></td>
            <td>
                <form action="#" th:method="post" th:action="@{/orders/addItemToCart}" th:object="${item}">
                    <label>
                        Количество: <input type="text" th:field="*{count}">
                    </label>
                    <button type="submit">Применить</button>
                </form>
            </td>
            <td>
                <form action="#" th:method="post" th:action="@{/orders/removeCartItem}" th:object="${item}">
                    <button type="submit">Удалить</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="all-items">
    <a href="#" class="buttons" id="potionsList">Список доступных зелий</a>
    <div class="item-list">
        <ul id="dropdownList">
            <li th:each="potion : ${allPotions}">
                <form th:method="post" th:action="@{/orders/addPotionToCart}" th:object="${potion}">
                    <span th:text="${potion.name}"></span>
                    <button type="submit">Добавить</button>
                </form>
            </li>
        </ul>
    </div>
</div>

<a href="#" class="buttons" id="createOrder">Оформить заказ</a>
<a href="#" class="buttons" id="redirectBackButton">На главную</a>

<script th:src="@{/js/user/cartList.js}"></script>
<script th:src="@{/js/user/orderForm.js}"></script>
<script th:src="@{/js/user/orderFormPage.js}"></script>
<script th:src="@{/js/general/goto.js}"></script>
<script th:src="@{/js/user/dropList.js}"></script>
</body>
</html>