<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/general/general.css}" rel="stylesheet" />

</head>
<body>

<div class="text-block">
    <h1>Заказ создан!</h1>
<!--    todo добавить возврат номера-->
    <p>По этому номеру вы можете проверять свой заказ:...</p>
</div>

<button type="button" class="buttons" onclick="goTo('user/start')" id="toStartPage">На главную страницу</button>

<script th:src="@{/js/general/goto.js}"></script>
</body>
</html>