<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/user/general.css}" rel="stylesheet" />
    <link th:href="@{/styles/user/start.css}" rel="stylesheet" />
</head>
<body>

<div class="welcome-block">
    <h1>Добро пожаловать на наш сайт!</h1>
    <p>Наши зелья лучшие на рынке</p>
</div>

<div class="links-container">
    <img th:src="@{/images/qwer1.png}" width="350" height="350"  alt="yellow_potion"/>

    <a href="#" class="buttons" id="redirectStatusButton">Проверить статус заказа</a>
    <a href="#" class="buttons" id="redirectOrderButton">Оформить заказ</a>

    <img th:src="@{/images/qwer2.png}" width="350" height="350"  alt="red_potion"/>
</div>

<script th:src="@{/js/user/startPage.js}"></script>
</body>
</html>